.footer {
    position: relative;
    background-color: $first-color;
    padding: 60px 0 73px;
    @media (max-width: 1199px) {
        padding: 50px 0;
    }
    @media (max-width: 991px) {
        padding: 40px 0 30px;
    }
    @media (max-width: 767px) {
        padding: 30px 0 23px;
    }

    .wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .question {
        width: 297 / 1140 * 100%;
        @media (max-width: 1199px) {
            width: 35%;
        }
        @media (max-width: 767px) {
            width: 80%;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }
        @media (max-width: 575px) {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        &__text {
            font-weight: bold;
            font-size: 18px;
            line-height: 133%;
            color: #FFFFFF;

            margin-bottom: 5px;
            @media (max-width: 991px) {
                font-size: 14px;
            }
            @media (max-width: 767px) {
                margin-right: 15px;
            }
        }

        &__link {
            font-weight: bold;
            font-size: 18px;
            line-height: 133%;
            
            color: $second-color;
            a {
                color: $second-color;
                border-bottom: 1px solid $second-color;
            }

            @media (max-width: 991px) {
                font-size: 13px; 
            }
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        width: 210 /1140 *100%;
        @media (max-width: 1199px) {
            width: 20%;
        }
        @media (max-width: 991px) {
            width: 25%;
        }
        @media (max-width: 767px) {
            width: 30%;
            margin: 0 auto  10px;
        }
        @media (max-width: 575px) {
            width: 50%;
        }

        &__icon {
            svg {
                width: 50px;
                height: 50px;
                @media (max-width: 991px) {
                    width: 35px;
                    height: 35px;
                }
            }

        }
    }

    .documents {
        width: 297 / 1140 * 100%;
        @media (max-width: 1199px) {
            width: 35%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }

        &__wrapper {
            @media (max-width: 1199px) {
                float: right;
            }
            @media (max-width: 767px) {
                display: flex;
                float: none;
                justify-content: space-around;
                align-items: center;
            }
            @media (max-width: 575px) {
                justify-content: space-between;
            }
            
        }
        &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: #FFFFFF;
            margin-bottom: 6px;

            a{
                color: #fff;
            }

            @media (max-width: 991px) {
                font-size: 13px;
                margin-bottom: 0;
            }
            @media (max-width: 767px) {
                font-size: 10px;
                width: auto;
                text-align: center;
            }
            @media (max-width: 575px) {
                width: 33%;
            }

        }
    }

    &__mh1 {
        position: absolute;
        bottom: 0;
        @media (max-width: 991px) {
            transform-origin: left bottom;
            transform: scale(.6);
        }

        svg {
            width: 193px;
            height: 132px;
        }
    }

    &__mh2 {
        position: absolute;
        bottom: 0;
        right: 0;
        @media (max-width: 991px) {
            transform-origin: right bottom;
            transform: scale(.6);
        }

        svg {
            width: 293px;
            height: 125px;
        }
    }
}
